@define-color text #cdd6f4;
/* Styles */
@define-color base #1e1e2e;
@define-color warning #A34C1A;
@define-color critical #592E24;
@define-color unfocused	#2D1854;
@define-color focused #612546;
@define-color inactive #4C2561;
@define-color hover	#3A2561;
/*Modules*/
@define-color network #6E1559;
@define-color sound #334A09;
@define-color language #3E1A61;
@define-color date #0B2742;
@define-color time #0F4445;

/*Unite characteristics*/
* {
    font-family: "Cascadia Code NF";
    /*font-weight: bold;*/
	font-size: 12px;
	font-family: monospace;

	border: none;
	border-radius: 0;
	margin: 0;
	padding: 0;
	box-shadow: none;
	text-shadow: none;
	icon-shadow: none;
}
#custom-arrow-left,
#custom-arrow-right1,
#custom-arrow-right2,
#custom-arrow-right3,
#custom-arrow-right4,
#custom-arrow-right5{
    font-size: 22px;
}
#backlight,
#backlight-slider,
#clock,
#network,
#language,
#wireplumber
{
    padding-right: 8px;
    padding-left: 8px;
}

/*Waybar stuff*/
window#waybar {
    background: @base;
    color: @text;
}

/* Workspaces stuff */
#workspaces button {
	color: @text;
	background: @unfocused;
    padding-right: 12px;
    padding-left: 12px;
}
/* Inactive (on unfocused output) */
#workspaces button.visible {
	background: @inactive;
}
/* Active (on focused output) */
#workspaces button.focused {
	background: @focused;
}
/* Contains an urgent window */
#workspaces button.urgent {
	color: @warning-text;
	background: @warning;
}
/* Style when cursor is on the button */
#workspaces button:hover {
	background: @hover;
}
#custom-arrow-left{
	color: @unfocused;
}

#custom-arrow-right1{
    color: @network;
    background: transparent;
}
#network{
    background: @network;
}
#custom-arrow-right2{
    color: @sound;
    background: @network;
}
#wireplumber{
    /*NOTE: fix characters amount may change across time*/
    min-width: 48px;
    background: @sound;
}
#custom-arrow-right3{
    color: @language;
    background: @sound;
}
#language{
    background: @language;
}
#custom-arrow-right4{
    color: @date;
    background: @language;
}
#clock.date{
    background: @date;
}
#custom-arrow-right5{
    color: @time;
    background: @date;
}
#clock.time{
    background: @time;
}
